# Import Libraries & Load Dataset

### Imports

In [142]:
import pandas as pd
import numpy as np

### Load DataFrame

**Load DataFrame and store it in a variable called "df"**

In [79]:
df = pd.read_excel("data.xlsx")

**Inspect first 5 rows of the DataFrame**

In [3]:
# A particular function exists in pandas for this 
df.head()

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468
3,42,CA-2017-120999,2020-09-10,Standard Class,LC-16930,Linda Cazamias,Corporate,United States,Naperville,Illinois,60540,Central,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,147.168,4,0.2,16.5564
4,44,CA-2017-139619,2020-09-19,Standard Class,ES-14080,Erin Smith,Corporate,United States,Melbourne,Florida,32935,South,OFF-ST-10003282,Office Supplies,Storage,"Advantus 10-Drawer Portable Organizer, Chrome ...",95.616,2,0.2,9.5616

# Explore Dataset

In [8]:
#Display Basic Info about DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3312 entries, 0 to 3311
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         3312 non-null   int64
 1   Order ID       3312 non-null   object
 2   Order Date     3312 non-null   datetime64[ns]
 3   Ship Mode      3312 non-null   object
 4   Customer ID    3312 non-null   object
 5   Customer Name  3312 non-null   object
 6   Segment        3312 non-null   object
 7   Country        3312 non-null   object
 8   City           3312 non-null   object
 9   State          3312 non-null   object
 10  Postal Code    3312 non-null   int64
 11  Region         3312 non-null   object
 12  Product ID     3312 non-null   object
 13  Category       3312 non-null   object
 14  Sub-Category   3312 non-null   object
 15  Product Name   3312 non-null   object
 16  Sales          3312 non-null   float64
 17  Quantity       3312 non-null   int64
 18  Discount       3312 non-null   float64
 19  Profit         3312 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(13)
memory usage: 517.6+ KB

In [ ]:
# Describe Method

In [53]:
# Get a view of unique values in column, e.g. 'Ship Mode'
df['Ship Mode'].unique()

array(['Standard Class', 'Second Class', 'First Class', 'Same Day'],
      dtype=object)

In [64]:
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

# Data Preperation & Analysis


- What was the highest Sale in 2020?
- What is average discount rate of charis?
- Add extra columns to seperate Year & Month from the Order Date
- Add a new column to calculate the Profit Margin for each sales record
- Create a new dataframe to reflect total Profit & Sales by Sub-Category

**What was the highest Sale?**

In [65]:
# Highest Sale
df.loc[[df['Sales'].idxmax()]]

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2710,8154,CA-2017-140151,2020-03-23,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808

**What is average Discount of charis?**

In [96]:
# Create Boolean mask
chair = df[(df['Sub-Category'] == 'Chairs')]

# Now from the filtered dataframe, find the mean discount using the mean function

df['Discount'].mean()

0.15646739130434784

**Add an extra column for "Order Month" & "Order Year"**

In [87]:
# To add a new column use the below format
df['Order Month'] = df['Order Date'].map(lambda x: x.month)
df['Order Year'] = df['Order Date'].map(lambda x: x.year)

**Add a new column to calculate the Profit Margin for each sales record**

In [89]:
df['Profit Margin'] = df['Sales'] - df['Profit']

#### Total Profit &Sales by Sub-Category

In [141]:
# Group By Sub-Category [SUM]
grouped = pd.DataFrame()
grouped['Sub-Category'] = df['Sub-Category'].unique()
grouped['Total Profit'] = np.nan
grouped['Sales'] = np.nan
j = 0 
for i in df['Sub-Category'].unique():
    grouped['Total Profit'][j]  = df[(df['Sub-Category'] == i)]['Profit'].sum()
    grouped['Sales'][j] = df[(df['Sub-Category'] == i)]['Sales'].sum()
    j+=1

/var/folders/jw/644649297gd0_6hzy4hf6yl00000gn/T/ipykernel_3634/2540601377.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped['Total Profit'][j]  = df[(df['Sub-Category'] == i)]['Profit'].sum()
/var/folders/jw/644649297gd0_6hzy4hf6yl00000gn/T/ipykernel_3634/2540601377.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped['Sales'][j] = df[(df['Sub-Category'] == i)]['Sales'].sum()

In [131]:
# Print out head for this grouped out table
grouped.head()

  Sub-Category  Total Profit       Sales
0        Paper    12040.8434   27694.718
1       Chairs     7643.5493   95554.353
2       Phones    12849.3250  105340.516
3      Storage     7402.8007   69677.618
4      Binders     7669.7418   72788.045

# Fin.